body{
    background-color: #111112;
}

#cross-menu{
    font-family: 'Manjari', sans-serif;
    background-color: #306BA8;
    display: inline-block;
    height: auto;
    width: auto;
}
#cross-menu ul>li{
    border: 1px solid white;
    /* display: table-cell;
    vertical-align: middle; */
    padding: 20px;
}
#cross-menu ul li:not(:first-child) {
    margin-left: 100px;
}
#cross-menu ul li:first-child{
    position: absolute;
}
#cross-menu h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #183A5C;
}
#cross-menu li a{
    color: #FFFFFF;
    font-weight: 100;
    text-decoration: none;
}
